org.eclipse.m2e.core.prefs
org.eclipse.core.resources.prefs
.project
org.eclipse.jdt.core.prefs
.classpath
/target/
.idea
.factorypath
/logs/
/tomcat/
**/target/
**/logs/
**/tomcat/
**/*.iml
**/.settings
**/*.log
**/gradle/
**/*gradle*
**/*.gradle
**/pid
**/*.out
**/*_out.txt
**/build

