<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org/" lang="en">
<head th:include="fragment/general.html :: headFragment"></head>
<body>
<header th:insert="fragment/general.html :: header"> </header>
<div class="main-container container-fluid"> <!--/*@thymesVar id="listing" type="com.project.SLX.model.Listing"*/-->
    <p>The bookmark was deleted! Click <a th:href="@{'/viewListing/' + ${listingId}}" th:text="here"></a> to go back to the listing.</p>
</div>
<div th:include="fragment/general.html :: bottomScripts"></div>
</body>
</html>